.container {

}
.Header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}
.title{
    font-weight: bold;
    color: var(--customText);
}
.btn{

}
.listContainer{
}

.mainPageList{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    margin: 0;
    padding: 0;
}