
.footer{
    width: 100vw;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    background-color: var(--bgFooteHeader);
    border-top: 1px solid var(--primary-blue);
}

.inner{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
}
.socialMediaList{
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 10px 0 0 0 ;
}

.socialMediaLink{
    cursor: pointer;
    color: var(--primary-blue);
    transition: transform 0.2s ease;
}

.socialMediaLink svg {
    transition: transform 0.2s ease;
}
.socialMediaLink svg:hover {
    transform: scale(1.2);
}
.footerNote{
    color: var(--customText);
}