.heroBanner {
    display: flex;
    align-items: center;
    width: 100vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    height: 700px;
    background-size: cover;
    background-position: center;
    margin-bottom: 80px;
}
.bg::after {
    content: '';
    position: absolute;
    inset: 0;
}

.content {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 24px;
    gap: 24px;
}

.title {
    color: #ffffff;
    font-size: 48px;
    font-weight: 800;
    text-transform: uppercase;
}

.text {
    color: #ffffff;
    font-size: 24px;
    font-weight: 600;
}



